header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
  height: 100px;
  margin-bottom: -100px;
  transition: all 0.3s ease;
  background: transparent;
;
  &.sticky{
    background: black;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style-type: none;
        a{
          color: white;
          text-decoration: none;
          padding: 10px;
          display: block;
        }
      }
    }
  }
}
