@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

body {
    font-family: "Noto Sans Georgian", sans-serif;

    margin: 0;
    padding: 0;
}
h2{
    font-size: 48px;
    font-weight: 400;
}
p{
    font-size: 12px;
    font-weight: 500;
    color: black;

    line-height: 24px;
}

.btn{

    border: 1px solid #4E377C;
    height: 48px;

    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.btn-light{
    width: 290px;
    background: white;
    &:hover{
        background:#4E377C ;
        color: white;
    }
}

.btn-dark {
    width: 290px;
    background: black;
    color: white;

    &:hover {
        background: white;
        color: black;
    }
}
.btn-purple {
    width: 290px;
    background: #4E377C;
    color: white;

    &:hover {
        background: white;
        color: black;
    }
}
.pop-up-flet {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    padding: 12px;

    border-radius: 4px;

    .info-flat {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;
    }

    img {
        align-items: center;
    }
}
a{
    text-decoration: none;
    color: black;

}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}



.color-system {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

section {
    margin-bottom: 40px;


}

.color-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.color-item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    p {
        margin: 0;
        font-size: 12px;
        color: #000;

    }
}

// Surface Colors
$surface-colors: (
        50: #FFFFFF,
        100: #F7F7F7,
        200: #E0E0E0,
        300: #C7C7C7,
        400: #9E9E9E,
        500: #757575,
        600: #616161,
        700: #424242,
        800: #303030,
        900: #212121
);

@each $key, $value in $surface-colors {
    .surface-#{$key} {
        background-color: $value;
    }
}

// Primary Colors
$primary-colors: (
        50: #FFF8E1,
        100: #FFECB3,
        200: #FFD54F,
        300: #FFCA28,
        400: #FFC107,
        500: #FFB300
);

@each $key, $value in $primary-colors {
    .primary-#{$key} {
        background-color: $value;
    }
}

// Secondary Colors
$secondary-colors: (
        50: #ECEFF1,
        100: #CFD8DC,
        200: #B0BEC5,
        300: #90A4AE,
        400: #78909C,
        500: #607D8B
);

@each $key, $value in $secondary-colors {
    .secondary-#{$key} {
        background-color: $value;
    }
}

// Danger Colors
$danger-colors: (
        50: #FFEBEE,
        100: #FFCDD2,
        200: #EF9A9A,
        300: #E57373,
        400: #EF5350,
        500: #F44336
);

@each $key, $value in $danger-colors {
    .danger-#{$key} {
        background-color: $value;
    }
}

// Success Colors
$success-colors: (
        50: #E8F5E9,
        100: #C8E6C9,
        200: #A5D6A7,
        300: #81C784,
        400: #66BB6A,
        500: #4CAF50
);

@each $key, $value in $success-colors {
    .success-#{$key} {
        background-color: $value;
    }
}

// Warning Colors
$warning-colors: (
        50: #FFF3E0,
        100: #FFE0B2,
        200: #FFCC80,
        300: #FFB74D,
        400: #FFA726,
        500: #FF9800
);

@each $key, $value in $warning-colors {
    .warning-#{$key} {
        background-color: $value;
    }
}

// Opacity Colors
.opacity-primary {
    background-color: rgba(255, 255, 255, 0.05);
}

.opacity-secondary {
    background-color: rgba(255, 255, 255, 0.1);
}

.opacity-danger {
    background-color: rgba(255, 0, 0, 0.1);
}

.opacity-success {
    background-color: rgba(0, 255, 0, 0.1);
}

.opacity-warning {
    background-color: rgba(255, 165, 0, 0.1);
}

// Dark Colors
$dark-colors: (
        50: #121212,
        100: #1D1D1D,
        200: #2C2C2C,
        300: #383838,
        400: #444444,
        500: #555555
);

@each $key, $value in $dark-colors {
    .dark-#{$key} {
        background-color: $value;
    }
}

.typography-system {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}



.typography-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.typography-item {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    h3 {
        margin: 0 0 10px;
        font-size: 16px;
        font-weight: normal;
    }

    p {
        margin: 0;
    }
}

// Typography Styles
$typography-styles: (
        heading-xl: (font-size: 48px, line-height: 56px, font-weight: 700),
        heading-lg: (font-size: 40px, line-height: 48px, font-weight: 600),
        heading-md: (font-size: 34px, line-height: 40px, font-weight: 600),
        title-xl: (font-size: 30px, line-height: 36px, font-weight: 500),
        title-lg: (font-size: 24px, line-height: 32px, font-weight: 500),
        body-lg: (font-size: 18px, line-height: 28px, font-weight: 400),
        body-md: (font-size: 16px, line-height: 24px, font-weight: 400),
        body-sm: (font-size: 14px, line-height: 20px, font-weight: 400),
        caption: (font-size: 12px, line-height: 16px, font-weight: 400),
        overline: (font-size: 10px, line-height: 16px, font-weight: 400, text-transform: uppercase)
);

@each $key, $value in $typography-styles {
    .#{$key} {
        font-size: map-get($value, font-size);
        line-height: map-get($value, line-height);
        font-weight: map-get($value, font-weight);
        font-family: 'Noto Sans Georgian', sans-serif;
        @if map-has-key($value, text-transform) {
            text-transform: map-get($value, text-transform);
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #444444;
    }

    th {
        background-color: #282828;
    }
}

.example-bar {
    background-color: #BB86FC;
    height: 10px;
}

// Space Sizes
$space-sizes: (
        0: 0,
        1: 0.125rem,
        2: 0.25rem,
        3: 0.5rem,
        4: 1rem,
        5: 1.5rem,
        6: 2rem,
        7: 2.5rem,
        8: 3rem,
        9: 3.5rem,
        10: 4rem,
        11: 5rem,
        12: 6rem,
        13: 7rem,
        14: 8rem,
        15: 9rem,
        16: 10rem,
        17: 11rem,
        18: 12rem
);

@each $key, $value in $space-sizes {
    .space-#{$key} {
        width: $value;
    }
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.container-fluid {
    width: 100%;
    padding: 0;
    max-width: 100%;

}

.column {


    margin: 5px;

    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

// Grid
.grid {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    &-2 .column {
        flex: 1 1 calc(50% - 10px);
    }
    &-4 .column {
        flex: 1 1 calc(25% - 10px);
    }

    &-6 .column {
        flex: 1 1 calc(16.666% - 10px);
    }

    &-8 .column {
        flex: 1 1 calc(12.5% - 10px);
    }
}

// Breakpoints
@media (max-width: 1536px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .grid {
        flex-direction: column;

        .column {
            flex: 1 1 100%;
        }
    }
}

@media (max-width: 360px) {
    .column {
    }
}
